# Python Practice Problems 1

In [1]:
#1. Write a python program to convert temperature in Fahrenheit

Celsius = int(input("Please enter a value "))
F1 = Celsius * (9/5)
F2 = F1 + 32
print(F2)

Please enter a value 37
98.60000000000001

In [3]:
#2. WAP in python find the area of a triangle

import math
a = float(input('Enter 1st side: '))
b = float(input('Enter 2nd side: '))
c = float(input('Enter 3rd side: '))

s = (a + b + c) / 2
a = s*(s-a)*(s-b)*(s-c)
area = math.sqrt(a)
print(area)

Enter 1st side: 5
Enter 2nd side: 7
Enter 3rd side: 6
14.696938456699069

In [20]:
# 3. Write a Python Program to accept the details of a student like name, roll number and mark and display it.

name = input("Enter the name ")
roll_no = input("Enter the roll number ")
mark = input("Enter the mark ")

Enter the name Anisha
Enter the roll number 21
Enter the mark 78

In [4]:
#4 Write a Python program to get the largest number from a list.
# Sample input: 12, 3, 47, 10
# Sample output: 47 is the largest number.

list1 = [12, 3, 47, 10]
max(list1)

47

In [5]:
#5 Write a python program to find the average of 5 numbers

num1 = float(input("Please enter a number "))
num2 = float(input("Please enter a number "))
num3 = float(input("Please enter a number "))
num4 = float(input("Please enter a number "))
num5 = float(input("Please enter a number "))
average = (num1+num2+num3+num4+num5)/5
print(average)

Please enter a number 8.1
Please enter a number 5.6
Please enter a number 2
Please enter a number 9
Please enter a number 4.1
5.76

In [11]:
# 6. Python program to insert a number to any position in a list (Get the number to be inserted and position from the user)
list1 = [8,7,6,5,4,3,2,1,9,10,11,12]
num = int(input("Please enter a number "))
ind = int(input("Please mention a number between 0 and 12 "))
list1.insert(ind,num)
list1

Please enter a number 23
Please mention a number between 0 and 12 7

[8, 7, 6, 5, 4, 3, 2, 23, 1, 9, 10, 11, 12]

In [12]:
#7. Write a program to rename a key city to a location in the following dictionary.

sample_dict = { "name": "Kelly", "age":25, "salary": 8000, "city": "New york"}
sample_dict["city"] = input("Please enter a city name  ")
sample_dict

Please enter a city name  London

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'city': 'London'}

In [13]:
#8. Write a Python program to change Bradâ€™s salary to 8500 in the following dictionary.
sample_dict = {
'emp1': {'name': 'Jhon', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 500}
}
sample_dict['emp3']['salary']=8500
sample_dict

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

In [17]:
#9 Write a program to copy elements 44 and 55 from the following tuple into a new tuple. Given: tuple1 = (11, 22, 33, 44, 55, 66)

tuple1 = (11, 22, 33, 44, 55, 66)
new_tuple = tuple1[3:5]
new_tuple

(44, 55)

In [18]:
#10. Counts the number of occurrences of item 50 from a tuple tuple1 = (50, 10, 60, 70, 50, 83, 567, 50, 81)
tuple1 = (50, 10, 60, 70, 50, 83, 567, 50, 81)
tuple1.count(50)

3